<div class="container">
    <h1>View Contact</h1>
   
    <a href="#" routerLink="/contact/index" class="btn btn-primary">Back</a>
    
    <div>
        <strong>ID:</strong>
        <p>{{ contact.id }}</p>
    </div>
    
    <div>
        <strong>First Name:</strong>
        <p>{{ contact.firstName }}</p>
    </div>
    
    <div>
        <strong>Last Name:</strong>
        <p>{{ contact.lastName }}</p>
    </div>

    <div>
        <strong>Address:</strong>
        <p>{{ contact.address }}</p>
    </div>

    <div>
        <strong>Phone Number:</strong>
        <p>{{ contact.phoneNumber }}</p>
    </div>
    
</div>